<!DOCTYPE html>
<html>
<head>
    <title>Daria Kronberg | <%= @title %></title>
    <%= stylesheet_link_tag    "application", :rel => "stylesheet/less" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet/less" type="text/css" href="/assets/base.css">
    <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header" class="clearfix">
		<div class="logo"></div>
		<a href="http://flickr.com"><span class="flickr"></span></a>
		<a href="http://linkedin.com"><span class="linkedin"></span></a>
		<a href="http://facebook.com"><span class="facebook"></span></a>
		<a href="http://pinterest.com/"><span class="pinterest"></span></a>

		<div id="arrow"></div>

		<div id="mainmenu">
			<a href="#" class="selected"><span>Work</span></a>
			<a href="#"><span>About</span></a>
			<a href="#"><span>Photo</span></a>
			<a href="#"><span>Follow</span></a>
			<a href="#"><span>Contacts</span></a>
		</div>
	</div>
	<div id="content" class="clearfix">
        <%= yield %>

	</div>
	<div id="footer" class="clearfix">
	</div>
</div>
</body>
<script language="javascript">
	$(document).ready(function() {
		var arrow = $("#arrow");
		var mainmenu = $("#mainmenu");
		Arrow.init(arrow, mainmenu);

		$(".project").each(function(i) {
				console.log($(this));
				$(this).hover(function () {$(this).animate({"opacity": 0.85}, {duration: 500,  easing: "easeOutBack", queue: false} );}, function () {$(this).animate({"opacity": 1}, {duration: 500,  easing: "easeOutBack", queue: false} );});
		});

	});

	var Arrow = {

		arrow : null,
		mainmenu : null,
		selected : null,

		init : function (arrow, mainmenu) {
			this.arrow = arrow;
			this.mainmenu = mainmenu;
			this.selected = mainmenu.find(".selected")[0];
			console.log("Arrow: init ", arrow, mainmenu, this.selected);


			mainmenu.find("a").each(function(i) {
				$(this).hover(Arrow.onMouseOver, Arrow.onMouseOut);
			});

			Arrow.moveArrow($(Arrow.selected).position().left + 21.6 + 16.9 - 5.5, false);
		},

		onMouseOver : function ()
		{
			if (this != Arrow.selected)
			{
				Arrow.moveArrow($(this).position().left + ($(this).width())/2 +  21.6 - 5.5, true);
			}
		},

		onMouseOut : function ()
		{
			Arrow.moveArrow($(Arrow.selected).position().left + $(Arrow.selected).width()/2 + 21.6 - 5.5, true);
		},

		moveArrow : function (x, animate)
		{
			if (animate)
			{
				this.arrow.animate({left : x}, {duration: 500,  easing: "easeOutBack", queue: false});
			}
			else
			{
				this.arrow.css("left", x);
			}
		}
	};
</script>

</body>
</html>
